@model Category

<div class="container justify-content-center" style="max-width: 500px;">
    <div class="row mb-3">
        <div class="col-8"><span class="h3">Launchpad - ASP.NET Core | MySQL </span><br><span id="lblExpire" class="text-warning" style="margin-left:10px"></span></div>
        <div class="col-4 text-right"><a asp-controller="Login" asp-action="Logout"><input type="button" class="btn btn-sm btn-primary" value="Logout" /></a></div>
    </div>
    <form asp-controller="Admin" asp-action="UpdateCategorySubmit">
        <div class="row mt-2">
            <div class="col">
                <h2>Update Category</h2>
            </div>
        </div>

        <div class="row">
            <div class="col mt-2">
                <input type="hidden" asp-for="@Model.categoryId">
                <div class="form-group">
                    <label>Category Name:</label>
                    <input type="text" asp-for="@Model.categoryName" value="@Model.categoryName" class="form-control" Maxlength="100" />
                    <span asp-validation-for="@Model.categoryName" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-warning" />
                    <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning" value="Cancel" /></a>
                    <span class="text-warning" style="margin-left:5px;">@ViewData["feedback"]</span>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script>
        startAutoLogout();
    </script>
}